CREATE DATABASE SIPORTBD;
GO
USE SIPORTBD
GO

CREATE LOGIN siportadm WITH PASSWORD = 'Analista$1';
USE SIPORTBD;
CREATE USER siportadm FOR LOGIN siportadm;

GO

CREATE SCHEMA SEGURIDAD AUTHORIZATION siportadm;
GO
CREATE SCHEMA OPERACIONES AUTHORIZATION siportadm;
GO
GRANT SELECT ON SCHEMA::SEGURIDAD TO siportadm;
GO
GRANT SELECT,UPDATE,INSERT,DELETE ON SCHEMA::OPERACIONES TO siportadm;

GO
/****** Object:  Table [SEGURIDAD].[MENU]    Script Date: 10/09/2015 12:58:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [SEGURIDAD].[MENU](
	[IDMENU] [bigint] IDENTITY(1,1) NOT NULL,
	[IDMENUPADRE] [bigint] NULL,
	[NIVEL] [int] NULL,
	[NOMBRE] [varchar](30) NULL,
	[DESCRIPCION] [varchar](100) NULL,
	[URL] [varchar](150) NULL,
	[TIPO] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDMENU] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [OPERACIONES].[HORARIOENTREGA]    Script Date: 10/09/2015 12:58:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [OPERACIONES].[HORARIOENTREGA](
	[IDHORARIOENTREGA] [bigint] IDENTITY(1,1) NOT NULL,
	[HORAINICIO] [smalldatetime] NULL,
	[HORAFIN] [smalldatetime] NULL,
	[FECHACREACION] [datetime] NULL,
	[USUARIOCREACION] [varchar](20) NULL,
	[LOGFECHA] [datetime] NULL,
	[LOGUSUARIO] [varchar](20) NULL,
 CONSTRAINT [XPKHORARIOENTREGA] PRIMARY KEY CLUSTERED 
(
	[IDHORARIOENTREGA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [OPERACIONES].[CLIENTE]    Script Date: 10/09/2015 12:58:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [OPERACIONES].[CLIENTE](
	[IDCLIENTES] [bigint] IDENTITY(1,1) NOT NULL,
	[CODIGOCLIENTE] [char](6) NULL,
	[IDTIPOIDENTIFICACION] [bigint] NULL,
	[TIPOIDENTIFICACION] [varchar](2) NULL,
	[NOMBRERAZONSOCIAL] [varchar](200) NULL,
	[NROIDENTIFICACION] [varchar](15) NULL,
 CONSTRAINT [XPKCLIENTE] PRIMARY KEY CLUSTERED 
(
	[IDCLIENTES] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  UserDefinedFunction [SEGURIDAD].[SF_ENCRYPT]    Script Date: 10/09/2015 12:58:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [SEGURIDAD].[SF_ENCRYPT](@str nvarchar(4000))
RETURNS VARBINARY(2000)
AS
BEGIN 
	
	DECLARE @key VARCHAR(10) 
	DECLARE @res VARBINARY(2000)
	
	SET @key = 'TAURO20151'
	SET @res = ENCRYPTBYPASSPHRASE(@key, @str)
	RETURN @res
END;
GO
/****** Object:  UserDefinedFunction [SEGURIDAD].[SF_DECRYPT]    Script Date: 10/09/2015 12:58:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [SEGURIDAD].[SF_DECRYPT](@encryp VARBINARY(8000))
RETURNS NVARCHAR(4000)
AS 
BEGIN 
	DECLARE @key VARCHAR(10) 
	DECLARE @res NVARCHAR(4000)
	SET @key = 'TAURO20151'
	SET @res = DECRYPTBYPASSPHRASE(@key, @encryp)
	RETURN @res
END;
GO
/****** Object:  Table [SEGURIDAD].[PERFIL]    Script Date: 10/09/2015 12:58:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [SEGURIDAD].[PERFIL](
	[IDPERFIL] [bigint] IDENTITY(1,1) NOT NULL,
	[NOMBREPERFIL] [varchar](50) NOT NULL,
	[BDUSRPERFIL] [varchar](30) NULL,
	[BDPWDPERFIL] [varbinary](2000) NULL,
	[PERFILPUBLICO] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPERFIL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [SEGURIDAD].[USUARIO]    Script Date: 10/09/2015 12:58:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [SEGURIDAD].[USUARIO](
	[IDUSUARIO] [bigint] IDENTITY(1,1) NOT NULL,
	[CODIGOUSUARIO] [varchar](20) NULL,
	[NOMBREUSUARIO] [varchar](150) NULL,
	[ESTADOUSUARIO] [char](1) NULL,
	[EMAILUSUARIO] [varchar](150) NULL,
	[FECHAREGISTRO] [datetime] NULL,
	[ISAPPROVED] [smallint] NULL,
	[ISLOCKEDOUT] [smallint] NULL,
	[ISONLINE] [smallint] NULL,
	[LASTACTIVITYDATE] [smalldatetime] NULL,
	[LASTLOCKEDOUTDATE] [smalldatetime] NULL,
	[LASTLOGINDATE] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDUSUARIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [OPERACIONES].[UBIGEO]    Script Date: 10/09/2015 12:58:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [OPERACIONES].[UBIGEO](
	[IDUBIGEO] [bigint] IDENTITY(1,1) NOT NULL,
	[CODIGOUBIGEO] [char](6) NULL,
	[DESCRIPCION] [varchar](150) NULL,
	[LOGFECHA] [datetime] NULL,
	[LOGUSUARIO] [varchar](20) NULL,
 CONSTRAINT [XPKUBIGEO] PRIMARY KEY CLUSTERED 
(
	[IDUBIGEO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [OPERACIONES].[MULTIUSO]    Script Date: 10/09/2015 12:58:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [OPERACIONES].[MULTIUSO](
	[IDMULTIUSO] [bigint] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[DESCRIPCION] [varchar](100) NULL,
	[VALOR] [varchar](10) NULL,
	[IDPADRE] [bigint] NULL,
	[ESTADO] [char](2) NULL,
	[TIPOACCESO] [char](1) NULL,
	[FECHACREACION] [datetime] NULL,
	[USUARIOCREACION] [varchar](20) NULL,
 CONSTRAINT [XPKMULTIUSO] PRIMARY KEY CLUSTERED 
(
	[IDMULTIUSO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [OPERACIONES].[VEHICULO]    Script Date: 10/09/2015 12:58:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [OPERACIONES].[VEHICULO](
	[IDVEHICULO] [bigint] IDENTITY(1,1) NOT NULL,
	[CODIGOVEHICULO] [char](6) NULL,
	[IDMODELO] [bigint] NULL,
	[MODELO] [varchar](4) NULL,
	[NUMEROPLACA] [varchar](7) NULL,
 CONSTRAINT [XPKVEHICULO] PRIMARY KEY CLUSTERED 
(
	[IDVEHICULO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [OPERACIONES].[VW_UBIGEO]    Script Date: 10/09/2015 12:58:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [OPERACIONES].[VW_UBIGEO] 
AS
SELECT UB.IDUBIGEO,
            UB.CODIGOUBIGEO,
            DEP.DESCRIPCIONDEP,
            PRV.DESCRIPCIONPRV,
            UB.DESCRIPCION  as DESCRIPCIONDIS,
            DEP.DESCRIPCIONDEP + ' / ' + PRV.DESCRIPCIONPRV + ' / ' + UB.DESCRIPCION  AS DESCRIPCION
FROM OPERACIONES.UBIGEO UB
INNER JOIN
(
        SELECT SUBSTRING(CODIGOUBIGEO, 1, 2) AS CODIGOUBIGEODEP, DESCRIPCION AS DESCRIPCIONDEP
        FROM OPERACIONES.UBIGEO
        WHERE SUBSTRING(CODIGOUBIGEO, 3, 4) = '0000'
) DEP ON DEP.CODIGOUBIGEODEP = SUBSTRING(UB.CODIGOUBIGEO, 1, 2)
INNER JOIN
(
    SELECT     SUBSTRING(CODIGOUBIGEO, 1, 6) AS CODIGOUBIGEOPRV , DESCRIPCION AS DESCRIPCIONPRV
    FROM OPERACIONES.UBIGEO
    WHERE SUBSTRING(CODIGOUBIGEO, 5, 2) = '00' AND SUBSTRING(CODIGOUBIGEO, 3, 4) <> '0000'
) PRV ON PRV.CODIGOUBIGEOPRV =   SUBSTRING(UB.CODIGOUBIGEO, 1, 4) + '00';
GO
/****** Object:  UserDefinedFunction [SEGURIDAD].[SF_OBTENERCLAVEPERFIL]    Script Date: 10/09/2015 12:58:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [SEGURIDAD].[SF_OBTENERCLAVEPERFIL]
(
	@IdPerfil bigint
)
RETURNS NVARCHAR(4000)
AS 
BEGIN
	
	DECLARE @res  NVARCHAR(4000);
	
	SELECT @res = SEGURIDAD.SF_DECRYPT(P.BDPWDPERFIL)
	FROM SEGURIDAD.PERFIL P
	WHERE P.IDPERFIL = @IdPerfil;
	
	RETURN @res;
	
END;
GO
/****** Object:  Table [SEGURIDAD].[USUARIOPWD]    Script Date: 10/09/2015 12:58:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [SEGURIDAD].[USUARIOPWD](
	[IDUSUARIOPWD] [bigint] IDENTITY(1,1) NOT NULL,
	[IDUSUARIO] [bigint] NOT NULL,
	[PASSWORD] [varbinary](2000) NOT NULL,
	[RECORDATORIOPWD] [varchar](30) NULL,
	[FECHAVCTOPWD] [datetime] NULL,
	[FECHAMODIFICACION] [datetime] NULL,
	[PUEDECAMBIARPWD] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDUSUARIOPWD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [SEGURIDAD].[USUARIOPERFIL]    Script Date: 10/09/2015 12:58:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SEGURIDAD].[USUARIOPERFIL](
	[IDUSUARIOPERFIL] [bigint] IDENTITY(1,1) NOT NULL,
	[IDUSUARIO] [bigint] NOT NULL,
	[IDPERFIL] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDUSUARIOPERFIL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [OPERACIONES].[ORDENSERVICIO]    Script Date: 10/09/2015 12:58:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [OPERACIONES].[ORDENSERVICIO](
	[IDORDENSERVICIO] [bigint] IDENTITY(1,1) NOT NULL,
	[CODIGOORDSERVICIO] [char](6) NULL,
	[DESCRIPCION] [varchar](100) NULL,
	[COMENTARIO] [varchar](200) NULL,
	[FECHACREACION] [date] NULL,
	[USUARIOCREACION] [varchar](20) NULL,
	[LOGFECHA] [date] NULL,
	[LOGUSUARIO] [varchar](20) NULL,
	[IDCLIENTES] [bigint] NULL,
 CONSTRAINT [XPKORDENSERVICIO] PRIMARY KEY CLUSTERED 
(
	[IDORDENSERVICIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [SEGURIDAD].[MENUPERFIL]    Script Date: 10/09/2015 12:58:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SEGURIDAD].[MENUPERFIL](
	[IDMENUPERFIL] [bigint] IDENTITY(1,1) NOT NULL,
	[IDMENU] [bigint] NOT NULL,
	[IDPERFIL] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDMENUPERFIL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [OPERACIONES].[SP_OBTENERCLIENTE]    Script Date: 10/09/2015 12:58:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [OPERACIONES].[SP_OBTENERCLIENTE](@pCodigoCliente CHAR(6))
AS
SELECT IDCLIENTES, CODIGOCLIENTE, IDTIPOIDENTIFICACION, TIPOIDENTIFICACION, NOMBRERAZONSOCIAL, NROIDENTIFICACION
FROM OPERACIONES.CLIENTE
WHERE CODIGOCLIENTE = @pCodigoCliente
GO
/****** Object:  StoredProcedure [OPERACIONES].[SP_LISTARUBIGEO]    Script Date: 10/09/2015 12:58:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--SELECT * FROM OPERACIONES.UBIGEO order by CODIGOUBIGEO;
--SELECT * FROM OPERACIONES.VW_UBIGEO order by CODIGOUBIGEO;


CREATE PROCEDURE [OPERACIONES].[SP_LISTARUBIGEO]
(
	@pTipoUbigeo	CHAR(1),
	@pCodigoUbigeo	VARCHAR(6) = null 
)
AS
	IF @pTipoUbigeo = 'D' 
	BEGIN
		SELECT  CODIGOUBIGEO = CODIGOUBIGEO, 
				DESCRIPCION = DESCRIPCION 
		FROM OPERACIONES.UBIGEO
		WHERE SUBSTRING(CODIGOUBIGEO, 3, 4) = '0000'
	END 
	ELSE IF @pTipoUbigeo = 'P'
	BEGIN 
		SELECT  CODIGOUBIGEO = CODIGOUBIGEO, 
				DESCRIPCION = DESCRIPCION 
		FROM OPERACIONES.UBIGEO
		WHERE SUBSTRING(CODIGOUBIGEO, 5, 2) = '00' 
			  AND SUBSTRING(CODIGOUBIGEO, 3, 4) <> '0000'
			  AND SUBSTRING(CODIGOUBIGEO, 1, 2) = SUBSTRING(LTRIM(RTRIM(@pCodigoUbigeo)), 1, 2)
			
	END
	ELSE IF @pTipoUbigeo = 'V'
	BEGIN 
		SELECT  CODIGOUBIGEO = CODIGOUBIGEO, 
				DESCRIPCION = DESCRIPCION 
		FROM OPERACIONES.UBIGEO
		WHERE SUBSTRING(CODIGOUBIGEO, 5, 2) <> '00' 
			  AND SUBSTRING(CODIGOUBIGEO, 3, 4) <> '0000'
			  AND SUBSTRING(CODIGOUBIGEO, 1, 4) = SUBSTRING(LTRIM(RTRIM(@pCodigoUbigeo)), 1, 4)
	END
	ELSE
	BEGIN 
		SELECT  CODIGOUBIGEO = CODIGOUBIGEO, 
				DESCRIPCION = DESCRIPCION 
		FROM OPERACIONES.UBIGEO
		WHERE IDUBIGEO = -1
	END
GO
/****** Object:  StoredProcedure [OPERACIONES].[SP_LISTARHORARIOENTREGA]    Script Date: 10/09/2015 12:58:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [OPERACIONES].[SP_LISTARHORARIOENTREGA]
AS
SELECT  H.IDHORARIOENTREGA, 
		H.HORAINICIO,
		H.HORAFIN,
		CONVERT(VARCHAR(10),H.HORAINICIO,108) + ' - ' + CONVERT(VARCHAR(10),H.HORAFIN,108) AS DESHORARIOENTREGA 
FROM OPERACIONES.HORARIOENTREGA H
GO
/****** Object:  Table [OPERACIONES].[ORDENSERVICIODESTINO]    Script Date: 10/09/2015 12:58:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [OPERACIONES].[ORDENSERVICIODESTINO](
	[IDORDENSERVICIO] [bigint] NULL,
	[IDORDENSERVICIODESTINO] [bigint] IDENTITY(1,1) NOT NULL,
	[FECHACREACION] [date] NULL,
	[USUARIOCREACION] [varchar](20) NULL,
	[LOGFECHA] [date] NULL,
	[LOGUSUARIO] [varchar](20) NULL,
	[FECHAESTENTREGA] [date] NULL,
	[FECHAREALDESPACHO] [date] NULL,
	[IDHORARIOENTREGA] [bigint] NULL,
	[DIRECCION] [varchar](300) NULL,
	[REFERENCIA] [varchar](1000) NULL,
	[ESTADO] [char](2) NULL,
	[LATITUDE] [bigint] NULL,
	[LONGITUDE] [bigint] NULL,
	[CODIGOUBIGEO] [char](6) NULL,
 CONSTRAINT [XPKORDENSERVICIODESTINO] PRIMARY KEY CLUSTERED 
(
	[IDORDENSERVICIODESTINO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [SEGURIDAD].[SP_GETDATCNX]    Script Date: 10/09/2015 12:58:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SEGURIDAD].[SP_GETDATCNX]
(
	@CODIGOUSUARIO VARCHAR(30) = null, 
	@IDPERFIL BIGINT = null
)
AS 
BEGIN  
	DECLARE @PERFILINVITADO CHAR(1) = 'N';
		
	IF @CODIGOUSUARIO IS NULL AND @IDPERFIL IS NULL 
	BEGIN 
		SELECT TOP 1 @IDPERFIL = IDPERFIL   
		FROM SEGURIDAD.PERFIL WHERE PERFILPUBLICO = 'S'
		SET @PERFILINVITADO = 'S';
	END;
	
	IF @PERFILINVITADO = 'S' 
		BEGIN 
			SELECT	P.IDPERFIL,
					P.NOMBREPERFIL, 
					P.BDUSRPERFIL as USUARIO, 
					SEGURIDAD.SF_OBTENERCLAVEPERFIL(P.IDPERFIL) AS CLAVE
			FROM SEGURIDAD.PERFIL P
			WHERE P.IDPERFIL = @IDPERFIL;
				
		END
	ELSE
		BEGIN 
			SELECT	P.IDPERFIL,
					P.NOMBREPERFIL, 
					P.BDUSRPERFIL as USUARIO, 
					SEGURIDAD.SF_OBTENERCLAVEPERFIL(UP.IDPERFIL) AS CLAVE
			FROM SEGURIDAD.PERFIL P
			INNER JOIN SEGURIDAD.USUARIOPERFIL UP ON UP.IDPERFIL = P.IDPERFIL
			INNER JOIN SEGURIDAD.USUARIO U ON U.IDUSUARIO = UP.IDUSUARIO
			WHERE U.CODIGOUSUARIO = @codigousuario AND P.IDPERFIL = @idperfil; 
		END;
		
	

END;
GO
/****** Object:  UserDefinedFunction [SEGURIDAD].[SF_OBTENERCLAVEUSUARIO]    Script Date: 10/09/2015 12:58:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [SEGURIDAD].[SF_OBTENERCLAVEUSUARIO]
 (
	@CODIGOUSUARIO VARCHAR(20)
 )
 RETURNS NVARCHAR(4000)
 AS 
 BEGIN
	DECLARE @IDUSUARIO BIGINT;
	DECLARE @RES NVARCHAR(4000);
	DECLARE @NO_EXISTE VARCHAR(100);
	DECLARE @PASSWD VARBINARY(8000);

	SELECT @IdUsuario = [IdUsuario] 
	FROM SEGURIDAD.USUARIO 
	WHERE CODIGOUSUARIO = @CODIGOUSUARIO;

	IF @IDUSUARIO IS NULL 
	BEGIN
		SET @NO_EXISTE = 'E~No Existe el usuario ' + @CodigoUsuario;
	    RETURN @NO_EXISTE;
	END;
	
	SELECT @PASSWD = PASSWORD
	FROM SEGURIDAD.USUARIOPWD
	WHERE IDUSUARIO = @IDUSUARIO;

	RETURN '0~' + SEGURIDAD.SF_DECRYPT(@PASSWD)

 END;
GO
/****** Object:  StoredProcedure [OPERACIONES].[SP_OBTENERORDSRV]    Script Date: 10/09/2015 12:58:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [OPERACIONES].[SP_OBTENERORDSRV]
(
	@pCodigoOrdServicio CHAR(6)
)
AS
SELECT IDORDENSERVICIO
      ,CODIGOORDSERVICIO
      ,DESCRIPCION
      ,COMENTARIO
      ,FECHACREACION
      ,USUARIOCREACION
      ,LOGFECHA
      ,LOGUSUARIO
      ,OS.IDCLIENTES
      ,c.CODIGOCLIENTE
      ,C.NOMBRERAZONSOCIAL
  FROM OPERACIONES.ORDENSERVICIO OS
  INNER JOIN OPERACIONES.CLIENTE C ON C.IDCLIENTES = OS.IDCLIENTES
  WHERE CODIGOORDSERVICIO = @pCodigoOrdServicio
;


SELECT OSD.IDORDENSERVICIO
      ,IDORDENSERVICIODESTINO
      ,OSD.CODIGOUBIGEO
      ,UB.DESCRIPCION AS DESCRIPCIONUBIGEO
      ,OSD.FECHACREACION
      ,OSD.USUARIOCREACION
      ,OSD.LOGFECHA
      ,OSD.LOGUSUARIO
      ,FECHAESTENTREGA
      ,FECHAREALDESPACHO
      ,OSD.IDHORARIOENTREGA
      ,CONVERT(VARCHAR(10),H.HORAINICIO,108) + ' - ' + CONVERT(VARCHAR(10),H.HORAFIN,108) AS DESHORARIOENTREGA
      ,DIRECCION
      ,REFERENCIA
      ,ESTADO
      ,LATITUDE
      ,LONGITUDE
  FROM OPERACIONES.ORDENSERVICIODESTINO OSD
  INNER JOIN OPERACIONES.ORDENSERVICIO OS ON OS.IDORDENSERVICIO = OSD.IDORDENSERVICIO
  INNER JOIN OPERACIONES.VW_UBIGEO UB ON UB.CODIGOUBIGEO = OSD.CODIGOUBIGEO
  INNER JOIN OPERACIONES.HORARIOENTREGA H ON H.IDHORARIOENTREGA = OSD.IDHORARIOENTREGA
  WHERE OS.CODIGOORDSERVICIO = @pCodigoOrdServicio
  ;
GO
/****** Object:  ForeignKey [R_CLIENTEORDENSERV]    Script Date: 10/09/2015 12:58:10 ******/
ALTER TABLE [OPERACIONES].[ORDENSERVICIO]  WITH CHECK ADD  CONSTRAINT [R_CLIENTEORDENSERV] FOREIGN KEY([IDCLIENTES])
REFERENCES [OPERACIONES].[CLIENTE] ([IDCLIENTES])
GO
ALTER TABLE [OPERACIONES].[ORDENSERVICIO] CHECK CONSTRAINT [R_CLIENTEORDENSERV]
GO
/****** Object:  ForeignKey [R_10]    Script Date: 10/09/2015 12:58:10 ******/
ALTER TABLE [OPERACIONES].[ORDENSERVICIODESTINO]  WITH CHECK ADD  CONSTRAINT [R_10] FOREIGN KEY([IDHORARIOENTREGA])
REFERENCES [OPERACIONES].[HORARIOENTREGA] ([IDHORARIOENTREGA])
GO
ALTER TABLE [OPERACIONES].[ORDENSERVICIODESTINO] CHECK CONSTRAINT [R_10]
GO
/****** Object:  ForeignKey [R_ORDSRVORDSRVDESTINO]    Script Date: 10/09/2015 12:58:10 ******/
ALTER TABLE [OPERACIONES].[ORDENSERVICIODESTINO]  WITH CHECK ADD  CONSTRAINT [R_ORDSRVORDSRVDESTINO] FOREIGN KEY([IDORDENSERVICIO])
REFERENCES [OPERACIONES].[ORDENSERVICIO] ([IDORDENSERVICIO])
GO
ALTER TABLE [OPERACIONES].[ORDENSERVICIODESTINO] CHECK CONSTRAINT [R_ORDSRVORDSRVDESTINO]
GO
/****** Object:  ForeignKey [FK_MENU_PERFIL_IDMENU]    Script Date: 10/09/2015 12:58:10 ******/
ALTER TABLE [SEGURIDAD].[MENUPERFIL]  WITH CHECK ADD  CONSTRAINT [FK_MENU_PERFIL_IDMENU] FOREIGN KEY([IDMENU])
REFERENCES [SEGURIDAD].[MENU] ([IDMENU])
ON DELETE CASCADE
GO
ALTER TABLE [SEGURIDAD].[MENUPERFIL] CHECK CONSTRAINT [FK_MENU_PERFIL_IDMENU]
GO
/****** Object:  ForeignKey [FK_MENU_PERFIL_IDPERFIL]    Script Date: 10/09/2015 12:58:10 ******/
ALTER TABLE [SEGURIDAD].[MENUPERFIL]  WITH CHECK ADD  CONSTRAINT [FK_MENU_PERFIL_IDPERFIL] FOREIGN KEY([IDPERFIL])
REFERENCES [SEGURIDAD].[PERFIL] ([IDPERFIL])
ON DELETE CASCADE
GO
ALTER TABLE [SEGURIDAD].[MENUPERFIL] CHECK CONSTRAINT [FK_MENU_PERFIL_IDPERFIL]
GO
/****** Object:  ForeignKey [FK_USUARIOPERFIL_PERFIL]    Script Date: 10/09/2015 12:58:10 ******/
ALTER TABLE [SEGURIDAD].[USUARIOPERFIL]  WITH CHECK ADD  CONSTRAINT [FK_USUARIOPERFIL_PERFIL] FOREIGN KEY([IDPERFIL])
REFERENCES [SEGURIDAD].[PERFIL] ([IDPERFIL])
ON DELETE CASCADE
GO
ALTER TABLE [SEGURIDAD].[USUARIOPERFIL] CHECK CONSTRAINT [FK_USUARIOPERFIL_PERFIL]
GO
/****** Object:  ForeignKey [FK_USUARIOPERFIL_USUARIO]    Script Date: 10/09/2015 12:58:10 ******/
ALTER TABLE [SEGURIDAD].[USUARIOPERFIL]  WITH CHECK ADD  CONSTRAINT [FK_USUARIOPERFIL_USUARIO] FOREIGN KEY([IDUSUARIO])
REFERENCES [SEGURIDAD].[USUARIO] ([IDUSUARIO])
ON DELETE CASCADE
GO
ALTER TABLE [SEGURIDAD].[USUARIOPERFIL] CHECK CONSTRAINT [FK_USUARIOPERFIL_USUARIO]
GO
/****** Object:  ForeignKey [FK_USUARIOPWD_USUARIO]    Script Date: 10/09/2015 12:58:10 ******/
ALTER TABLE [SEGURIDAD].[USUARIOPWD]  WITH CHECK ADD  CONSTRAINT [FK_USUARIOPWD_USUARIO] FOREIGN KEY([IDUSUARIO])
REFERENCES [SEGURIDAD].[USUARIO] ([IDUSUARIO])
ON DELETE CASCADE
GO
ALTER TABLE [SEGURIDAD].[USUARIOPWD] CHECK CONSTRAINT [FK_USUARIOPWD_USUARIO]
GO


INSERT INTO SEGURIDAD.PERFIL
(NOMBREPERFIL, BDUSRPERFIL, BDPWDPERFIL, PERFILPUBLICO)
VALUES('Invitado', 'siportadm', SEGURIDAD.SF_ENCRYPT('Analista$1'), 'S')
;

GOTO

INSERT INTO SEGURIDAD.PERFIL
(NOMBREPERFIL, BDUSRPERFIL, BDPWDPERFIL, PERFILPUBLICO)
VALUES('Adminsitrador', 'siportadm', SEGURIDAD.SF_ENCRYPT('Analista$1'), 'N');
